body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.bg-teal {
    background-color: #7ebeb2;
}

.btn-teal {
    background-color: #7ebeb2;
    color: white;
}

.btn-teal:hover {
    background-color: #6daea2;
}

.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
