/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    background-color: #7ebeb2;
    color: white;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header h1 {
    margin: 0;
}

.content {
    padding: 20px;
}

.evite-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.rsvp-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #7ebeb2;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.rsvp-button:hover {
    background-color: #7ebeb2;
}

.footer {
    background-color: #7ebeb2;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
